extends layout

mixin projectThumbnail(imgBw, imgColor, name, link)
    .col-lg-4.col-md-6.col-sm-6
        .project
            a(href=link)
                span.project-label
                    block
                img.thumbnail-img.bw(src=imgBw alt=name)
                img.thumbnail-img.clr(src=imgColor alt=name)


block content
    #projects.row
        +projectThumbnail(
            '../assets/images/pintclone_bw.jpg',
            '../assets/images/pintclone.jpg',
            'Pintclone',
            '/pintclone.html'
            )
            p.project-title Pinterest Clone
        +projectThumbnail(
            '../assets/images/multilingual_bw.jpg',
            '../assets/images/multilingual.jpg',
            'Multilingual Portfolio',
            '/multilingual.html'
            )
            p.project-title Multilingual
            p.project-title Portfolio
        +projectThumbnail(
            '../assets/images/bookTrader_bw.png',
            '../assets/images/bookTrader.png',
            'Book Trader',
            '/bookTrader.html'
            )
            p.project-title Book Trading
            p.project-title Club 
        +projectThumbnail(
            '../assets/images/compareStocks_bw.png',
            '../assets/images/compareStocks.png',
            'Compare Stocks',
            '/compareStocks.html'
            )
            p.project-title Compare Stocks
        +projectThumbnail(
            '../assets/images/barsvp_bw.jpg',
            '../assets/images/barsvp.jpg',
            'BaRSVP',
            '/barsvp.html'
            )
            p.project-title Nightlife
            p.project-title Coordination
        +projectThumbnail(
            '../assets/images/quickPoll_bw.png',
            '../assets/images/quickPoll.png',
            'Quick Poll',
            '/quickPoll.html'
            )
            p.project-title Voting App
        +projectThumbnail(
            '../assets/images/boilerplate_bw.jpg',
            '../assets/images/boilerplate.jpg',
            'Full Stack Boilerplate',
            '/boilerplate.html'
            )
            p.project-title Full Stack
            p.project-title Boilerplate
        +projectThumbnail(
            '../assets/images/d3_bw.jpg',
            '../assets/images/d3.jpg',
            'D3 Projects',
            '/d3.html'
            )
            p.project-title D3 Projects
        +projectThumbnail(
            '../assets/images/frontend_bw.jpg',
            '../assets/images/frontend.jpg',
            'Frontend Projects',
            '/frontend.html'
            )
            p.project-title Frontend Projects
